<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<body class = "bg-dark">
<div class="d-flex justify-content-center">
<div class="card" style="width: 50rem;">
  <div class="card-body">
   <h5 class="card-text"><%= review%></h5>
  </div>
</div>
</div>


</body>
<%- include ('../partials/footer') %>